{{#foreach posts}}

<article class="padding">
  <header class="excerpt">
    <h4><a href="{{url}}">{{{title}}}</a></h4>
  </header>

  <footer class="author">
    {{#if author.image}}
    <div class="author-thumb inline middle">
      <img src="{{author.image}}" alt="Foo" class="border circle" />
    </div>
    {{/if}}

    <div class="inline middle">
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
    </div>
  </footer>
</article>

{{/foreach}}

{{pagination}}