<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <style></style>

    {{#post}}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{{title}}}">
    <meta name="twitter:description" content="{{excerpt}}">
    <meta name="twitter:creator" content="@alexmcpherson">
    <meta name="twitter:image" content="{{@blog.logo}}">
    <meta name="twitter:url" content="{{url absolute='true'}}">
    <meta name="twitter:domain" content="{{@blog.url}}">

    {{/post}}

    {{ghost_head}}
  </head>
  <body>
    {{{body}}}

    <footer class="site-footer text center padding">
      <div>&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</div>
      <div><a href="https://github.com/dreyacosta/velox" target="_blank"><strong>Velox theme</strong></a> by <a href="http://dreyacosta.com/">David Rey</a></div>
      <div>Proudly published with <a href="http://ghost.org"><span>Ghost</span></a></div>
    </footer>

    {{> load-fonts}}
    {{> load-prism}}
    {{> google-analytics}}
  </body>
</html>